<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494042557812-hieskukouca9dqfqr623m95fb46rgohj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494042557812-hieskukouca9dqfqr623m95fb46rgohj</string>
	<key>API_KEY</key>
	<string>AIzaSyAo8W1CqT5unziolBUR8or00SK0eD0rREU</string>
	<key>GCM_SENDER_ID</key>
	<string>494042557812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chimbi</string>
	<key>PROJECT_ID</key>
	<string>chimbi-46ceb</string>
	<key>STORAGE_BUCKET</key>
	<string>chimbi-46ceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494042557812:ios:3a6a683ff89a7d5937d021</string>
</dict>
</plist>